<%- include('partials/header'); -%>

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <br>
          <h2>Minhas Series</h2>
          <hr>
          <p class="lead">Projeto desenvolvido durante o curso FullStack Master da DevPleno</p>
          
          <p class="lead">by @blogdomarcio</p>
          
        </div>
      </div>
    </div>
  </section>

  <hr>

</div>
 

<%- include('partials/footer'); -%>